@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Kontrol Paneli - Ticari Otomasyon</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="~/startbootstrap-sb-admin-gh-pages/startbootstrap-sb-admin-gh-pages/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Markası-->
        <a class="navbar-brand ps-3" href="index.html">Ticari Otomasyon</a>
        <!-- Kenar Çubuğu Aç/Kapa-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
        <!-- Navbar Arama-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Ara..." aria-label="Ara..." aria-describedby="btnNavbarSearch" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
            </div>
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#!">Ayarlar</a></li>
                    <li><a class="dropdown-item" href="#!">Etkinlik Günlüğü</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item" href="#!">Çıkış Yap</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">

                       
                        <div class="sb-sidenav-menu-heading">İŞLEMLER</div>

                        
                        <a class="nav-link" href="/Category/Index">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-tags text-primary"></i>
                            </div>
                            Kategoriler
                        </a>

                       
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-box text-primary"></i>
                            </div>
                            Ürünler
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="/Product/Index">📦 Ürün Listesi</a>
                                <a class="nav-link" href="/Product/ProductAdd">➕ Ürün Ekle</a>
                                <a class="nav-link" href="/Product/ProductEdit"> 
                                    <i class="fas fa-pen me-1"></i> Ürün Güncelle
                                </a>
                                <a class="nav-link" href="#">📊 Stok Takibi</a>
                                <a class="nav-link" href="#">🏷 Kampanyalar</a>
                                <a class="nav-link" href="#">⭐ Öne Çıkan Ürünler</a>
                            </nav>
                        </div>

                       
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseCariler" aria-expanded="false" aria-controls="collapseCariler">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-address-book text-primary"></i>
                            </div>
                            Cariler
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseCariler" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="/Cari/List">
                                    <i class="fas fa-list text-info me-2"></i> Cari Listesi
                                </a>
                                <a class="nav-link" href="/Cari/Add">
                                    <i class="fas fa-user-plus text-success me-2"></i> Cari Ekle
                                </a>
                                <a class="nav-link" href="/Cari/Transactions">
                                    <i class="fas fa-exchange-alt text-warning me-2"></i> Cari İşlemleri
                                </a>
                                <a class="nav-link" href="/Cari/Reports">
                                    <i class="fas fa-file-invoice text-danger me-2"></i> Cari Raporlar
                                </a>
                            </nav>
                        </div>
                        
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseAdmin" aria-expanded="false" aria-controls="collapseAdmin">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-user-cog text-primary"></i>
                            </div>
                            Admin İşlemleri
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>

                        <div class="collapse" id="collapseAdmin" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="/Admin/Index">
                                    <i class="fas fa-user-shield text-primary me-2"></i> Admin Listesi
                                </a>
                                <a class="nav-link" href="/Admin/AdminAdd">
                                    <i class="fas fa-user-plus text-success me-2"></i> Admin Ekle
                                </a>
                                <a class="nav-link" href="/Admin/AdminEdit">
                                    <i class="fas fa-user-edit text-warning me-2"></i> Admin Düzenle
                                </a>
                                <a class="nav-link" href="#">
                                    <i class="fas fa-key text-danger me-2"></i> Yetki Atama
                                </a>
                            </nav>
                        </div>

                      
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                            <div class="sb-nav-link-icon"><i class="fas fa-cogs text-primary"></i></div>
                            Departman&Personel
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">

                                
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseDept">
                                    <i class="fas fa-building text-warning me-2"></i> Departman Yönetimi
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="pagesCollapseDept" data-bs-parent="#sidenavAccordionPages">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="/Department/Index">
                                            <i class="fas fa-list text-info me-2"></i> Departman Listesi
                                        </a>
                                        <a class="nav-link" href="/Department/DepartmentAdd">
                                            <i class="fas fa-plus-circle text-success me-2"></i> Departman Ekle
                                        </a>
                                        <a class="nav-link" href="/Department/DepartmentEdit">
                                            <i class="fas fa-edit text-danger me-2"></i> Departman Düzenle
                                        </a>
                                    </nav>
                                </div>

                                
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseStaff">
                                    <i class="fas fa-users text-success me-2"></i> Personel İşlemleri
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="pagesCollapseStaff" data-bs-parent="#sidenavAccordionPages">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="/Employee/Index">
                                            <i class="fas fa-address-card text-primary me-2"></i> Personel Listesi
                                        </a>
                                        <a class="nav-link" href="/Employee/EmployeeAdd">
                                            <i class="fas fa-user-plus text-success me-2"></i> Personel Ekle
                                        </a>
                                        <a class="nav-link" href="/Employee/EmployeeAssignDepartment">
                                            <i class="fas fa-random text-warning me-2"></i> Departman Atama
                                        </a>
                                    </nav>
                                </div>

                               

                            </nav>
                        </div>

                       
                        <div class="sb-sidenav-menu-heading">Rapor & Fatura</div>

                        <a class="nav-link" href="charts.html">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-file-invoice text-primary"></i>
                            </div>
                            Faturalar
                        </a>
                        <a class="nav-link" href="tables.html">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-file-invoice-dollar text-primary"></i>
                            </div>
                            Fatura Kalemler
                        </a>
                        <a class="nav-link" href="tables.html">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-money-bill-wave text-danger"></i>
                            </div>
                            Giderler
                        </a>
                        <a class="nav-link" href="tables.html">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-exchange-alt text-info"></i>
                            </div>
                            Hareketler
                        </a>

                    </div>
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    @RenderBody()
                </div>
            </main>
            
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="assets/demo/chart-area-demo.js"></script>
    <script src="assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
    <script src="js/datatables-simple-demo.js"></script>
</body>
</html>