<div class="login-form login-form-left">
    <div class="agile-row">
        <h3>Kayıt Ol</h3>

        <div class="login-agileits-top">
            <form action="#" method="post">
                <input type="text" class="name" name="CurrentName" placeholder="Ad " required="">
                <input type="text" class="name" name="CurrentSurname" placeholder="Soyad " required="">
                <input type="text" class="name" name="CurrentCity" placeholder="Şehir" required=""> 
                <input type="email" class=" name" name="CurrentMail" placeholder="E-posta" required="">
                <input type="password" class="password" name="CurrentPassword" placeholder="Şifre" required="">

                <div class="login-check">
                    <label class="checkbox">
                        <input type="checkbox" checked="">
                        <i></i> Şartları kabul ediyorum
                    </label>
                </div>

                <input type="submit" value="Kayıt Ol">
            </form>
        </div>
    </div>
</div>
